{% macro show_messages() %} 
  {% with messages = get_flashed_messages(true) %} 
    {% if messages %}
      {% for message in messages %}
        <div
          class="d-flex justify-content-between mb-0 {{message[0]}}"
          style="min-width: 350px"
        >
          <p class="mb-0">{{ message[1] }}</p>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      {% endfor %}
    {% endif %} 
  {% endwith %} 
{% endmacro %}
